<div>
<%= form_for [@recipe_ingredient.recipe, @recipe_ingredient] do |f| %>
  <% if params[:recipe_id] %>
    <%= f.hidden_field :recipe_id %>
  <% else %>
    <%= f.label :recipe_id, 'Select Recipe' %>
    <%= f.collection_select :recipe_id, Recipe.all, :id, :title, include_blank: true %>
    <% end %>
</div>

