
<h3>Create Recipe</h3>

<%= render partial: "form", locals: {recipe: @recipe, recipe_ingredient: @ingredients, button_name: "Create Recipe"} %>


<script>$(document).ready(function(){
    $('select').formSelect();
  });</script>