<h3>Create Recipe</h3>

<%= render partial: "form", locals: {category if category, recipe: @recipe, button_name: "Create Recipe"} %>


<script>$(document).ready(function(){
    $('select').formSelect();
  });</script>